header {
	width: 100%;
	height: 60px;
	background: #8d5322; /* Old browsers */
	border-bottom: 8px solid #282733;

	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzhkNTMyMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmOWJiNTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #8d5322 0%, #f9bb55 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8d5322), color-stop(100%,#f9bb55)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #8d5322 0%,#f9bb55 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #8d5322 0%,#f9bb55 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #8d5322 0%,#f9bb55 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #8d5322 0%,#f9bb55 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8d5322', endColorstr='#f9bb55',GradientType=0 ); /* IE6-8 */
}

header section.branding {
	width: 178px;
	padding-top: 15px;
}

nav {
	padding: 8px 0px;
	background-color: #f7f7e9;
	margin-bottom: 36px;
}

nav li {
	margin-right: 16px;
	display: inline;
}

/* Common column definitions across all media queries
 */
div.fullwidth {
	max-width: none;
	margin: 0 auto;
}

div.grid2 section:nth-of-type(2n+1),
div.grid3 section:nth-of-type(3n+1)
{
	margin-left: 0px;
	clear: left;
}

div.grid2 section,
div.grid3 section
{
	float: left;
	margin-left: 32px;
}

/* Lists
 */
ul.listing-horizontal li {
	float: left;
}

div.listing-alternate li:nth-of-type(2n+1) {
	margin-left: 0px;
	clear: left;
}

div.listing-alternate li {
	margin-left: 32px;
	float: left;
}

/* Forms
 */
fieldset {
	margin-bottom: 10px;
}

label {
	clear: both;
	display: block;
}