@media screen and (min-width: 63.237em) {
	body {
		background-color: #afa;
	}

	div.fullwidth {
		width: 1192px;
	}

	div.grid2 section {
		width: 580px;
	}

	div.grid3 section {
		width: 376px;
	}
}

@media screen and (min-width: 33.236em) and (max-width: 63.236em) {
	body {
		background-color: #ffa;
	}

	div.fullwidth {
		width: 664px;
	}

	div.grid2 section {
		width: 316px;
	}

	div.grid3 section {
		width: 200px;
	}
}

@media screen and (max-width: 33.235em) {
	body {
		background-color: #faa;
	}

	.fullwidth {
		padding-left: 0.809em;
		padding-right: 0.809em;
		max-width: 30em;
	}

	div.grid2 section {
		width: 100%;
		margin-left: 0px;
	}

	div.grid3 section {
		width: 100%;
		margin-left: 0px;
	}
}
