{% extends 'Unrestricted.html' %}

{% block head %}
	<!-- Shared -->
	<meta charset="utf-8">
	<meta name="author" content="">

	<!-- /ht Andy Clarke - http://front.ie/lkCwyf -->
	<meta http-equiv="cleartype" content="on">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Page specific -->
	<title>Sample Page</title>
	<meta name='description' content='A sample description for this page.' />

	<!-- Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400' rel='stylesheet' type='text/css'>

	<!-- /ht Jeremy Keith - http://front.ie/mLXiaS -->
	<link rel='stylesheet' href='/theme/mumc/css/reset.css' media='all' />

{% endblock %}

{% block content %}
<h2>{{ testKey }}</h2>
<strong>This is in Core/Test/Unrestricted</strong>

<p>These are arguments passed on the url:</p>
<ul>
	{% for arg in args %}
	<li>{{ arg }}</li>
	{% endfor %}
</ul>
{% endblock %}