{% extends 'Unrestricted.html' %}

{% block head %}
	<title>Sample Page</title>
	<meta name='description' content='A sample description for this page.' />
{% endblock %}

{% block content %}
<form style='display:none;'>
	<fieldset>
		<label>Input name</label>
		<input type='text' value='' />
	</fieldset>
	<fieldset>
		<label>Input name</label>
		<input type='checkbox' value='1' />One
		<input type='checkbox' value='1' />Two
		<input type='checkbox' value='1' />Three
		<input type='checkbox' value='1' />Four
		<input type='checkbox' value='1' />Five
		<input type='checkbox' value='1' />Six
	</fieldset>
	<fieldset>
		<label>Input name</label>
		<input type='text' value='' />
	</fieldset>
	<fieldset>
		<label>Input name</label>
		<input type='radio' value='1' />One
		<input type='radio' value='1' />Two
		<input type='radio' value='1' />Three
		<input type='radio' value='1' />Four
		<input type='radio' value='1' />Five
		<input type='radio' value='1' />Six
	</fieldset>
	<fieldset>
		<label>Input name</label>
		<select>
			<option>Mort</option>
			<option>Bart</option>
		</select>
	</fieldset>
	<fieldset>
		<label>Input name</label>
		<input type='text' value='' />
	</fieldset>
	<fieldset>
		<label>Input name</label>
		<input type='text' value='' />
	</fieldset>
</form>
<div class='listing-alternate'>
	<ul>
		<li>
			<img src='' class='avatar' />
			<div class='description'>
				<section>
					<h4>
						<a href='/'>List Title</a>
					</h4>
					<p>
						<span class='datetime'>14/01/2014&ndash;15/01/2014</span>
						Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.
					</p>
				</section>
			</div>
		</li>
		<li>
			<img src='' class='avatar' />
			<div class='description'>
				<section>
					<h4>
						<a href='/'>List Title</a>
					</h4>
					<p>
						<span class='datetime'>14/01/2014&ndash;15/01/2014</span>
						Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.
					</p>
				</section>
			</div>
		</li>
		<li>
			<img src='' class='avatar' />
			<div class='description'>
				<section>
					<h4>
						<a href='/'>List Title</a>
					</h4>
					<p>
						<span class='datetime'>14/01/2014&ndash;15/01/2014</span>
						Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.
					</p>
				</section>
			</div>
		</li>
		<li>
			<img src='' class='avatar' />
			<div class='description'>
				<section>
					<h4>
						<a href='/'>List Title</a>
					</h4>
					<p>
						<span class='datetime'>14/01/2014&ndash;15/01/2014</span>
						Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.
					</p>
				</section>
			</div>
		</li>
		<li>
			<img src='' class='avatar' />
			<div class='description'>
				<section>
					<h4>
						<a href='/'>List Title</a>
					</h4>
					<p>
						<span class='datetime'>14/01/2014&ndash;15/01/2014</span>
						Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.
					</p>
				</section>
			</div>
		</li>
		<li>
			<img src='' class='avatar' />
			<div class='description'>
				<section>
					<h4>
						<a href='/'>List Title</a>
					</h4>
					<p>
						<span class='datetime'>14/01/2014&ndash;15/01/2014</span>
						Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.
					</p>
				</section>
			</div>
		</li>
	</ul>
</div>
<div class='listing-alternate'>
	<ul>
		<li>1</li>
		<li>2</li>
		<li>3</li>
		<li>4</li>
		<li>5</li>
		<li>6</li>
	</ul>
</div>
<div class='grid3'>
	<section>
		<h1>First level heading</h1>
		<p>
			Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.
		</p>
	</section>
	<section>
		<h1>First level heading</h1>
		<p>
			Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.
		</p>
	</section>
	<section>
		<h1>First level heading</h1>
		<p>
			Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.
		</p>
	</section>
</div>
<div class='grid2'>
	<section>
		<h1>First level heading</h1>
		<p>
			Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.
		</p>
	</section>
	<section>
		<h1>First level heading</h1>
		<p>
			Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.
		</p>
	</section>
</div>
<h1>First level heading</h1>
<p>
	Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.
</p>
<p>
	Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.
</p>
<h2>Second level heading</h2>
<p>
	Completely synergize resource sucking relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art customer service. Completely synergize resource sucking relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art customer service.
</p>

<h3>Third level heading</h3>
<p>
	Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.
</p>
<p>
	Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.
</p>
<h4>Fourth level heading</h4>
<p>
	Completely synergize resource sucking relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art customer service. Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.
</p>
<h4>Fifth level heading</h4>
<p>
	Completely synergize resource sucking relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art customer service. Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.
</p>
<h4>Sixth level heading</h4>
<p>
	Completely synergize resource sucking relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art customer service. Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.
</p>


{% endblock %}