/* 8. CUSTOM LAYOUT & TYPOGRAPHY (Daddy bear)
----------------------------------------------------------------------------------------*/
header {
	margin-bottom: 72px;
}

.branding {
	padding-top: 15px;
}

.fullwidth {
	width: 1192px;
}

.grid2 section,
.grid2 li {
	width: 580px;
}

.grid3 section {
	width: 376px;
}

/* To space out sequential centered h2-led sections
 * This usually only appears on the homepage
 */

/* 9. CUSTOM LAYOUT & TYPOGRAPHY (Mummy bear)
----------------------------------------------------------------------------------------*/
@media screen and (min-width: 30em) and (max-width: 63.236em) {
	header {
		margin-bottom: 24px;
	}

	.branding {
		padding-top: 15px;
	}

	.fullwidth {
		width: 664px;
	}

	.grid2 section,
	.grid2 li {
		width: 316px;
	}

	.grid3 section {
		width: 200px;
	}

	/* To space out sequential centered h2-led sections
	 * This usually only appears on the homepage
	 */
	.divider {
		margin-top: 24px;
		margin-bottom: 36px;
	}

	.listing .event-listing .avatar {
		width: 54px;
		height: 54px;
	}

	.listing .event-listing .description {
		width: 246px;
	}
}


