/* 8. CUSTOM LAYOUT & TYPOGRAPHY (Daddy bear)
----------------------------------------------------------------------------------------*/

.fullwidth {
	width: 1192px;
	max-width: none;
}

.grid2 section,
.grid2 li {
	width: 580px;
	margin-left: 32px;
}

.grid3 section {
	width: 376px;
	margin-left: 32px;
}

.standfirst img {
	display: block;
}

.listing .event-listing .avatar {
	width: 108px;
	height: 108px;
	display: block;
}

.listing .event-listing .description {
	width: 456px;
}

.listing.member-listing .avatar {
	width: 48px;
	height: 48px;
	display: block;
}

.listing.member-listing li {
	outline: 1px solid #00f;
	width: 298px;
	height: 48px;
}

.listing.member-listing .name {
	width: 202px;
	height: 48px;
}

/* 9. CUSTOM LAYOUT & TYPOGRAPHY (Mummy bear)
----------------------------------------------------------------------------------------*/
@media screen and (min-width: 33.236em) and (max-width: 63.236em) {

	.fullwidth {
		width: 664px;
		max-width: none;
	}

	.grid2 section,
	.grid2 li {
		width: 316px;
		margin-left: 32px;
	}

	.grid3 section {
		width: 200px;
		margin-left: 32px;
	}

	.standfirst img {
		display: block;
	}

	.listing .member-listing .avatar {
		width: 36px;
		height: 36px;
		display: block;
	}

	.listing .event-listing .avatar {
		width: 54px;
		height: 54px;
		display: block;
	}

	.listing .event-listing .description {
		width: 246px;
	}
}


