/*
Goldilocks Approach to Responsive Web Design Boilerplate

Author: Design by Front - @designbyfront
Version: 0.1
URL: http://www.goldilocksapproach.com
----------------------------------------------------------------------------------------


/* 6. CUSTOM LAYOUT & TYPOGRAPHY (Baby bear)
----------------------------------------------------------------------------------------*/

.fullwidth {
	padding-left: 0.809em;
	padding-right: 0.809em;
	max-width: 30em;
}

.grid2 section,
.grid2 li {
	width: 100%;
	margin: 0px;
}

.grid3 section {
	width: 100%;
	margin: 0px;
}

.standfirst img {
	display: none;
}

.listing .member-listing .avatar,
.listing .event-listing .avatar {
	display: none;
}

.obnoxious-block {
	padding-bottom: 10px;
}

.map-canvas {
	height: 385px;
}
