{% extends 'Unrestricted.html' %}

{% block head %}
<title>{{ collection[0].getName() }}</title>
<meta name='description' content="{{ collection[0].getName() }}" />
{% endblock %}

{% block content %}
<h1>{{ collection[0].getName() }}</h1>
<ul>
	<li>Starts: {{ collection[0].getStartDateTime() }}</li>
	<li>Ends: {{ collection[0].getEndDateTime() }}</li>
</ul>

<div>
	<p>
		{{ collection[0].getDescription() }}
	</p>
</div>

<ul>
	{% for currentWaypoint in collection[0].getWaypoints() %}
	<li>{{ currentWaypoint.latitude }} / {{ currentWaypoint.longitude }}</li>
	{% endfor %}
</ul>

<ul>
	{% for currentAttendee in collection[0].getAttendees() %}
	<li>{{ currentAttendee.lastname }}, {{ currentAttendee.firstname }}</li>
	{% endfor %}
</ul>

<ul>
	{% for currentLeader in collection[0].getLeaders() %}
	<li>{{ currentLeader.lastname }}, {{ currentLeader.firstname }}</li>
	{% endfor %}
</ul>
{% endblock %}