{# select() #}
{# A shortcut to making a select dropdown with integer values #}
{# These values are prefixed with a leading zero #}
{# ------------------------------------------------------------------------- #}
{% macro select(name, from, to, preselected) %}
<select name="{{ name }}">
	{% for i in range(from, to) %}

	{# Concatenate a leading zero #}
	{% if i < 10 %}
		{% set value = 0 ~ i %}
	{% else %}
		{% set value = i %}
	{% endif %}

	{# Optional preselected state #}
	{% if i == preselected %}
		{% set selected = 'selected="selected"' %}
	{% else %}
		{% set selected = '' %}
	{% endif %}

	<option {{ selected|raw }} value="{{ value }}">{{ value }}</option>
	{% endfor %}
</select>
{% endmacro %}

{# selectFullDateTime_RangedYear() #}
{# Multiple uses of select() combined in a shortcut #}
{# This provides the usual datetime preselected values, but limits the #}
{# options for the Year dropdown, e.g. for minimum age etc #}
{# ------------------------------------------------------------------------- #}
{% macro selectFullDateTime_RangedYear(startYear, endYear, selectedYear, selectedMonth, selectedDay, selectedHour, selectedMinute, selectedSecond) %}
	{% import _self as self %}

	{{ self.select('startAt[year]', startYear, endYear, selectedYear) }}
	{{ self.select('startAt[month]', 0, 12, selectedMonth) }}
	{{ self.select('startAt[day]', 0, 31, selectedDay) }}

	{{ self.select('startAt[hour]', 0, 23, selectedHour) }}
	{{ self.select('startAt[minute]', 0, 59, selectedMinute) }}
	{{ self.select('startAt[second]', 0, 59, selectedSecond) }}
{% endmacro %}