<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="author" content="">

	<!-- /ht Andy Clarke - http://front.ie/lkCwyf -->
	<meta http-equiv="cleartype" content="on">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400' rel='stylesheet' type='text/css'>

	<!-- CSS reset -->
	<link rel='stylesheet' href='/theme/mumc/css/reset.css' media='all' />
	<link rel='stylesheet' href='/theme/mumc/css/typography.css' media='all' />

	<!-- Page specific -->
	{% block head %}
	{% endblock %}
</head>
<body>
	<h1>Default Sitewide Theme</h1>
	<p>This appears in all Unrestricted templates</p>

	<div style='border:1px solid #0f0;padding:10px;'>
		{% block content %}
		Content of the page...
		{% endblock %}
	</div>
</body>
</html>