<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="author" content="">

	<!-- /ht Andy Clarke - http://front.ie/lkCwyf -->
	<meta http-equiv="cleartype" content="on">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Ropa+Sans' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400' rel='stylesheet' type='text/css'>

	<!-- CSS reset -->
	<link rel='stylesheet' href='/theme/mumc/css/reset.css' media='all' />
	<link rel='stylesheet' href='/theme/mumc/css/typography.css' media='all' />
	<link rel='stylesheet' href='/theme/mumc/css/layout.css' media='all' />

	<!-- Page specific -->
	{% block head %}
	{% endblock %}
</head>
<body>
	<header>
		sd
	</header>
{% block content %}
{% endblock %}
</body>
</html>