{% extends 'Unrestricted.html' %}

{% block head %}
<title>Create User</title>
{% endblock %}

{% block content %}
<form>
	<fieldset>
		<legend>Details</legend>
		<label>
			Firstname
			<input name="firstname" type="text" value="" />
		</label>
		<label>
			Lastname
			<input name="lastname" type="text" value="" />
		</label>
		<label>
			Date of Birth
			<select name="dob[day]">
				{% for currentDay in dob.allDays %}
				<option value="{{ currentDay.value }}">{{ currentDay.label }}</option>
				{% endfor %}
			</select>
			/
			<select name="dob[month]">
				{% for currentMonth in dob.allMonths %}
				<option value="{{ currentMonth.value }}">{{ currentMonth.label }}</option>
				{% endfor %}
			</select>
			/
			<select name="dob[year]">
				{% for currentYear in dob.allYears %}
				{% if currentYear.selected %}
				<option value="{{ currentYear.value }}" selected="selected">{{ currentYear.label }}</option>
				{% else %}
				<option value="{{ currentYear.value }}">{{ currentYear.label }}</option>
				{% endif %}
				{% endfor %}
			</select>
		</label>
		<label>
			Gender
			<select name="gender">
				{% for currentGender in allGenders %}
				<option value="{{ currentGender.getId() }}">{{ currentGender.getAbbreviation() }}</option>
				{% endfor %}
			</select>
		</label>
	</fieldset>

	<fieldset>
		<legend>Address</legend>
		<label>
			Address 1
			<input name="address[address1]" type="text" value="" />
		</label>
		<label>
			Address 1
			<input name="address[address2]" type="text" value="" />
		</label>
		<label>
			Suburb
			<input name="address[suburb]" type="text" value="" />
		</label>
		<label>
			State
			<select name="address[state]">
				{% for currentState in allStates %}
				{% if currentState.selected %}
				<option value="{{ currentState.value }}" selected="selected">{{ currentState.label }}</option>
				{% else %}
				<option value="{{ currentState.value }}">{{ currentState.label }}</option>
				{% endif %}
				{% endfor %}
			</select>
		</label>
		<label>
			Country
			<select name="address[country]">
				{% for currentCountry in allCountries %}
				{% if currentCountry.selected %}
				<option value="{{ currentCountry.value }}" selected="selected">{{ currentCountry.label }}</option>
				{% else %}
				<option value="{{ currentCountry.value }}">{{ currentCountry.label }}</option>
				{% endif %}
				{% endfor %}
			</select>
		</label>
		<label>
			Postcode
			<input name="address[postcode]" type="text" value="" />
		</label>
	</fieldset>

	<fieldset>
		<legend>Phone and Email</legend>
		<label class="cloneable">
			Phone
			<select name="phoneType[]">
				{% for currentPhoneType in allPhoneTypes %}
				{% if currentPhoneType.selected %}
				<option value="{{ currentPhoneType.value }}" selected="selected">{{ currentPhoneType.label }}</option>
				{% else %}
				<option value="{{ currentPhoneType.value }}">{{ currentPhoneType.label }}</option>
				{% endif %}
				{% endfor %}
			</select>
			<input name="phone[]" type="text" value="" />
		</label>
		<label>
			Email
			<input name="email" type="text" value="" />
		</label>
	</fieldset>
</form>
{% endblock %}