/* Header stuff
 */
header {
	margin-bottom: 72px;
}

header section {
	width: 100%;
	height: 60px;
	background: #8d5322; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzhkNTMyMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmOWJiNTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #8d5322 0%, #f9bb55 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8d5322), color-stop(100%,#f9bb55)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #8d5322 0%,#f9bb55 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #8d5322 0%,#f9bb55 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #8d5322 0%,#f9bb55 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #8d5322 0%,#f9bb55 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8d5322', endColorstr='#f9bb55',GradientType=0 ); /* IE6-8 */
}

.branding {
	width: 178px;
	padding-top: 15px;
	display: block;
}

nav {
	min-height: 12px;
	background-color: #282733;
}

.fullwidth {
	margin: 0 auto;
}

.grid2 section {
	float: left;
	margin-left: 32px;
}

.grid3 section {
	float: left;
}

.grid2 section:nth-of-type(2n+1),
.grid3 section:nth-of-type(3n+1),
.grid4 section:nth-of-type(4n+1) {
	margin-left: 0;
	clear: left;
}

.obnoxious-block {
	width: 100%;
	background: #f2f2f2; /* Old browsers */
	padding: 0.5em;

	/*background: #23233e; *//* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	/*background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMyMzIzM2UiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMGUwZTE4IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);*/
	/*background: -moz-radial-gradient(center, ellipse cover,  #23233e 0%, #0e0e18 100%); *//* FF3.6+ */
	/*background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#23233e), color-stop(100%,#0e0e18)); *//* Chrome,Safari4+ */
	/*background: -webkit-radial-gradient(center, ellipse cover,  #23233e 0%,#0e0e18 100%); *//* Chrome10+,Safari5.1+ */
	/*background: -o-radial-gradient(center, ellipse cover,  #23233e 0%,#0e0e18 100%); *//* Opera 12+ */
	/*background: -ms-radial-gradient(center, ellipse cover,  #23233e 0%,#0e0e18 100%); *//* IE10+ */
	/*background: radial-gradient(ellipse at center,  #23233e 0%,#0e0e18 100%); *//* W3C */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#23233e', endColorstr='#0e0e18',GradientType=1 ); *//* IE6-8 fallback on horizontal gradient */
}

footer .obnoxious-block {
	margin-bottom: 0px;
}

.divider {
	margin-top: 24px;
	margin-bottom: 48px;
}

/* Alternate list elements horizontally rather than vertically
 */
.alternate li {
	margin-left: 32px;
	float: left;
}

.alternate li:nth-of-type(2n+1) {
	margin-left: 0;
	clear: left;
}

.listing li {
	list-style: none;
	margin-top: 1px;
	margin-bottom: 0px;
	float: left;
}

.listing .event-listing .avatar {
	padding-top: 4px;
	margin-right: 16px;
	float: left;
}

.listing .event-listing .description {
	float: right;
}

.listing.member-listing li {
	width: 100%;
	float: left;
}

.listing.member-listing .name {
	vertical-align: middle;
	display: table-cell;
}

.listing.member-listing .avatar {
	width: 48px;
	height: 48px;
	margin-right: 16px;
	float: left;
	display: none;
}


