/**
 * Calendar
 */
.event-bushwalking {
	border-color: rgb(32,224,58);
	background-color: rgb(32,224,58);
}

.event-canoepolo {
	border-color: rgb(32,186,224);
	background-color: rgb(32,186,224);

}

.event-canyoning {
	border-color: rgb(83,32,224);
	background-color: rgb(83,32,224);

}

.event-caving {
	border-color: rgb(0,0,0);
	background-color: rgb(0,0,0);

}

.event-conservation {
	border-color: rgb(109,224,32);
	background-color: rgb(109,224,32);

}

.event-kayaking {
	border-color: rgb(32,83,224);
	background-color: rgb(32,83,224);
}

.event-mountaineering {
	border-color: rgb(128,128,128);
	background-color: rgb(128,128,128);
}

.event-rockclimbing {
	border-color: rgb(224,134,32);
	background-color: rgb(224,134,32);
}

.event-rogaining {
	border-color: rgb(32,224,160);
	background-color: rgb(32,224,160);
}

.event-skiing {
	border-color: rgb(186,32,224);
	background-color: rgb(186,32,224);
}

.event-bsar {
	border-color: rgb(224,32,32);
	background-color: rgb(224,32,32);
}

.event-other {
	border-color: rgb(160,150,60);
	background-color: rgb(160,150,60);
}

.event-legend {
	padding: 12px;
	background-color: #f0f0f0;
	margin-bottom: 24px;
}

#event-legend a {
	cursor: pointer;
}

.event-legend li {
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	color: #fff;
	padding: 0px 6px;
	margin-bottom: 4px;
	display: inline-block;
}

/**
 * Event detail
 */
p.intro {
	font-size: 15px;
	font-style: italic;
	padding-top: 5px;
}

.map-canvas {
	width: auto;
	height: 390px;
	display: block;
}

/* Overcome css-reset problems with controls
 * https://groups.google.com/forum/#!topic/google-maps-js-api-v3/3YIftYyNmyk
 */
.map-canvas img {
	max-width: inherit;
}

/**
 * Gear List
 */
ul.gear-list {
	margin-bottom: 60px;
}

ul.gear-list > li {

	margin-top: 24px;
	margin-left: 32px;
	list-style: none;
	float: left;
}

ul.gear-list > li > span {
	font-weight: bold;
}

ul.gear-list > li > ul > li {
	list-style: none;
}
