body {
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
	line-height: 24px;
	background: url('./baseline.gif')
}

h1, h2, h3, h4, h5, h6,
time {
	font-family: 'Abel', sans-serif;
	text-transform: uppercase;
}

p {
	font-size: 0.8125em;
	line-height: 1.846153846153846em;
	margin-bottom: 1.846153846153846em;
}

/*ul, ol {*/
/*margin-bottom: 24px;*/
/*}*/

/* 34px */
h1 {
	font-size: 2.125em;
	line-height: 1.411764705882353em;
	margin-top: 0.66666666666666666667em;
}

/*30px*/
h2 {
	font-size: 1.875em;
	line-height: 1.6em;
	margin-bottom: 0.8em;
}

/*24px*/
h3 {
	font-size: 1.5em;
	line-height: 1em;
	margin-bottom: 1em;
}

/*18px*/
h4 {
	font-size: 1.125em;
	line-height: 1.3333333333333333333333333333em;
}

/*16px*/
h5, time {
	font-size: 1em;
	line-height: 1.5em;
}

/*14px*/
h6 {
	font-size: 0.875em;
	line-height: 1.714285714285714em;
}
