{% extends 'Unrestricted.html' %}
{% import "macros-datetime.html" as macros %}

{% block head %}
<title>Create Event</title>
<script type="text/javascript" src="/user/js/cloners.js"></script>
<script type="text/javascript">
	$(function() {
		$('form').addCloners();
	});
</script>
{% endblock %}

{% block content %}
{{ macros.selectDateTime() }}
<form action="/event/create" method="post">
	<fieldset>
		<legend>Details</legend>
		<label>
			Name
			<input name="name" type="text" value="" />
		</label>
		<label>
			Brief
			<textarea name="brief"></textarea>
		</label>
		<label>
			Description
			<textarea name="description"></textarea>
		</label>
		<label>
			Starts
			<select name="startAt[day]">
				{% for currentDay in allDates.allDays %}
				{% if currentDay.selected %}
				<option value="{{ currentDay.value }}" selected="selected">{{ currentDay.label }}</option>
				{% else %}
				<option value="{{ currentDay.value }}">{{ currentDay.label }}</option>
				{% endif %}
				{% endfor %}
			</select>
			/
			<select name="startAt[month]">
				{% for currentMonth in allDates.allMonths %}
				{% if currentMonth.selected %}
				<option value="{{ currentMonth.value }}" selected="selected">{{ currentMonth.label }}</option>
				{% else %}
				<option value="{{ currentMonth.value }}">{{ currentMonth.label }}</option>
				{% endif %}
				{% endfor %}
			</select>
			/
			<select name="startAt[year]">
				{% for currentYear in allDates.allYears %}
				{% if currentYear.selected %}
				<option value="{{ currentYear.value }}" selected="selected">{{ currentYear.label }}</option>
				{% else %}
				<option value="{{ currentYear.value }}">{{ currentYear.label }}</option>
				{% endif %}
				{% endfor %}
			</select>

			<select name="startAt[hour]">
				{% for i in 0..23 %}
				<option value="{{ i }}">
					{% if i < 10 %}
					0{{ i }}
					{% else %}
					{{ i }}
					{% endif %}
				</option>
				{% endfor %}
			</select>
			:
			<select name="startAt[minute]">
				{% for i in 0..59 %}
				<option value="{{ i }}">
					{% if i < 10 %}
					0{{ i }}
					{% else %}
					{{ i }}
					{% endif %}
				</option>
				{% endfor %}
			</select>
		</label>
		<label>
			Ends
			<select name="endAt[day]">
				{% for currentDay in allDates.allDays %}
				{% if currentDay.selected %}
				<option value="{{ currentDay.value }}" selected="selected">{{ currentDay.label }}</option>
				{% else %}
				<option value="{{ currentDay.value }}">{{ currentDay.label }}</option>
				{% endif %}
				{% endfor %}
			</select>
			/
			<select name="endAt[month]">
				{% for currentMonth in allDates.allMonths %}
				{% if currentMonth.selected %}
				<option value="{{ currentMonth.value }}" selected="selected">{{ currentMonth.label }}</option>
				{% else %}
				<option value="{{ currentMonth.value }}">{{ currentMonth.label }}</option>
				{% endif %}
				{% endfor %}
			</select>
			/
			<select name="endAt[year]">
				{% for currentYear in allDates.allYears %}
				{% if currentYear.selected %}
				<option value="{{ currentYear.value }}" selected="selected">{{ currentYear.label }}</option>
				{% else %}
				<option value="{{ currentYear.value }}">{{ currentYear.label }}</option>
				{% endif %}
				{% endfor %}
			</select>

			<select name="endAt[hour]">
				{% for i in 0..23 %}
				<option value="{{ i }}">
					{% if i < 10 %}
					0{{ i }}
					{% else %}
					{{ i }}
					{% endif %}
				</option>
				{% endfor %}
			</select>
			:
			<select name="endAt[minute]">
				{% for i in 0..59 %}
				<option value="{{ i }}">
					{% if i < 10 %}
					0{{ i }}
					{% else %}
					{{ i }}
					{% endif %}
				</option>
				{% endfor %}
			</select>
		</label>
	</fieldset>

	<input type="submit" value="Submit" />
</form>
{% endblock %}