{% extends 'Unrestricted.html' %}
{% import "macros-datetime.html" as macros %}

{% block head %}
<title>Update Event</title>
<script type="text/javascript" src="/user/js/cloners.js"></script>
<script type="text/javascript">
	$(function() {
		$('form').addCloners();
	});
</script>
{% endblock %}

{% block content %}

<form action="/event/update" method="post">
	<input name="eventId" type="hidden" value="{{ event.getId() }}" />

	<fieldset>
		<legend>Details</legend>
		<label>
			Name
			<input name="name" type="text" value="{{ event.getName() }}" />
		</label>
		<label>
			Brief
			<textarea name="brief">{{ event.getBrief() }}</textarea>
		</label>
		<label>
			Description
			<textarea name="description">{{ event.getDescription() }}</textarea>
		</label>
		<label>
			Meeting
			{{ macros.selectFullDateTime_Event('meetingAt',
				event.getMeetingAt()|date('Y'),
				event.getMeetingAt()|date('Y')+1,
				event.getMeetingAt()|date('Y'),
				event.getMeetingAt()|date('m'),
				event.getMeetingAt()|date('d'),
				event.getMeetingAt()|date('H'),
				event.getMeetingAt()|date('i'),
				event.getMeetingAt()|date('s'))
			}}
		</label>
		<label>
			Starts
			{{ macros.selectFullDateTime_Event('startAt',
				event.getStartAt()|date('Y'),
				event.getStartAt()|date('Y')+1,
				event.getStartAt()|date('Y'),
				event.getStartAt()|date('m'),
				event.getStartAt()|date('d'),
				event.getStartAt()|date('H'),
				event.getStartAt()|date('i'),
				event.getStartAt()|date('s'))
			}}
		</label>
		<label>
			Ends
			{{ macros.selectFullDateTime_Event('endAt',
				event.getEndAt()|date('Y'),
				event.getEndAt()|date('Y')+1,
				event.getEndAt()|date('Y'),
				event.getEndAt()|date('m'),
				event.getEndAt()|date('d'),
				event.getEndAt()|date('H'),
				event.getEndAt()|date('i'),
				event.getEndAt()|date('s'))
			}}
		</label>
	</fieldset>
	<fieldset>
		<legend>Routes</legend>
		<a data-cloner="true">Add</a>

		<section data-cloneable="true" class="hidden">
			<label>
				<input name="waypoint[]" disabled value="" />

				<a data-cloner-remover="true">Remove</a>
			</label>
		</section>

		<div data-cloneable-socket="true">
			{% for waypoint in event.getWaypoints() %}
			<section>
				<label>
					<input name="waypoint[]" value="{{ waypoint.getAddress() }}" />
					<a data-cloner-remover="true">Remove</a>
				</label>
			</section>
			{% endfor %}
		</div>
	</fieldset>
	<fieldset>
		<legend>Markers</legend>
		<a data-cloner="true">Add</a>

		<section data-cloneable="true" class="hidden">
			<label>
				<input name="marker[latitude][]" disabled value="" />
				<input name="marker[longitude][]" disabled value="" />
				<input name="marker[description][]" disabled value="" />
				<a data-cloner-remover="true">Remove</a>
			</label>
		</section>

		<div data-cloneable-socket="true">
			{% for marker in event.getMarkers() %}
			<section>
				<label>
					<input name="marker[latitude][]" value="{{ marker.getLatitude() }}" />
					<input name="marker[longitude][]" value="{{ marker.getLongitude() }}" />
					<input name="marker[description][]" value="{{ marker.getDescription() }}" />
					<a data-cloner-remover="true">Remove</a>
				</label>
			</section>
			{% endfor %}
		</div>
	</fieldset>

	<input type="submit" value="Submit" />
</form>
{% endblock %}